{% extends "base.html" %}

{% block title %}:: Committies{% endblock %}

{% block seo %}
    <meta keywords="Congress, Committies">
    <meta description="A list of congressional committies">
{% endblock %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-heading">Committies</div>
            <div class="panel-body">
               <p>Table Depicting the number and type of pieces of legislation produced by each congress.</p>
            </div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Congresses</th>
                    <th>Sub. Count</th>

                    <th>Subcommittees</th>
                </tr> 
            {% for c in committees %}
                <tr id="committee-{{c.thomas_id}}">
                    <td>{{ c.name }}</td>
                    <td>{{ c.type }}</td>
                    <td>
                        {% for congress in  c.congresses  %}
                            {{ congress }},
                        {% endfor %}
                    </td>
                    <td>{{ c.subcommittees|length }}</td>
                    <td>
                        <ul>
                            {% for sub in c.subcommittees %}
                                <li id="committee-{{c.thomas_id}}">{{ sub.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

                    
            {% else %}
                <tr><td><em>Unbelievable.  No entries here so far</em></td></tr>
            {% endfor %}
            
            </table>
        </div>
{% endblock %}