{% extends "base.html" %}

{% block title %}:: Subjects :: {% endblock %}

{% block seo %}
    <meta keywords="Congresses, Statistics, Subjects, Legislation">
{% endblock %}

{% block css %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
        
    <a href="/">Back to Home</a>
    <h1>Congresses</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Congresses</div>
        <div class="panel-body">
           <p>Table Depicting the number and type of pieces of legislation produced by each congress.</p>
        </div>
        <table class="table">
            <tr>
                <th>Number</th>
                <th>House</th>
                <th>House Res</th>
                <th>House J Res</th>
                <th>Senate</th>
                <th>Senate Res</th>
                <th>Senate J Res</th>
            </tr>
        {% for congress in congresses %}
            <tr>
                <td>{{ congress.name }}</td>
                <td>{{ congress.hr }}</td>
                <td>{{ congress.hres }}</td>
                <td>{{ congress.hjres }}</td>
                <td>{{ congress.s }}</td>
                <td>{{ congress.sres }}</td>
                <td>{{ congress.sjres }}</td>

            </tr>    
        {% else %}
            <li><em>Unbelievable.  No entries here so far</em></li>
        {% endfor %}

        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.min.js"> </script>
{% endblock %}

