{% extends "base.html" %}


{% block content %}

        <h1>Hack The Fed</h1>
        <p>
            This is a site dedicated Hacking the Federal Government. No we aren't breaking and entering federal servers
            or buildings. But we aren't asking politely for information either. For the most part the information we
            want isn't locked up behind firewalls, it is public and free. Public, free, and extremely difficult to work
            with or understand. There are two ways to approach this data. If you want to understand how the government
            operates either officially or unofficially you have two options: Lock yourself up in room with a lot of books
            and study for years until you are suitably qualified to ask the proper questions or one can find a stick
            and start poking at it until something falls out. We prefer the later, we prefer to hack.
        </p>
        <p>
            The tools of hacking are pretty well known Duct Tape, a toolbox or Multi-Tool, and a curious and creative mind.
            is really all you need. Taking a monkey wrench to congress probably wouldn't serve us very well though,
            while we might manage to disconnect some plumbing and make quite a mess, we'd likely end up in prison or
            worse, covered in last night cafeteria waste.  Fortunately the workings of congress require a different
            kind of tool box they require the tools of computer hacker; programming, data analysis, pattern recognition
            and irreverence.
        </p>
        <p>
            TODO: ... ( currently off writing code ) get back to me.

        </p>
        
{% endblock %}