{% extends "base.html" %}

{% block title %}:: States{% endblock %}

{% block seo %}
    <meta keywords="Congress, States">
    <meta description="A list of States">
{% endblock %}

{% block content %}
       <div class="panel panel-default">
            <div class="panel-heading">Committies</div>
            <div class="panel-body">
               <p>Table of number of bills sponsered and cosponsered by state. Bills have many co-sponsors so a given bill can have multiple co-sponsors from the same state.</p>
            </div>
            <table class="table">
            <tr>
                <th>Name</th>
                <th>Bills Sponsored</th>
                <th>Bills Cosponsored</th>
            </tr> 
        {% for state in states %}
            <tr>
                <td>{{ state.name }}</td>
                <td>{{ state.sponsor_count }}</td>
                <td>{{ state.cosponsor_count }}</td>
            </tr>
                
        {% else %}
            <tr><td><em>Unbelievable.  No entries here so far</em></td></tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}